@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #eae4e4e3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-duration: 0.45s;
}

.bg {
  background-color: #f6f1f1e3;
}

.outer {
  box-shadow:
    6px -6px 10px 2px rgba(209, 207, 207, 0.56),
    -6px -6px -1px 2px rgba(209, 207, 207, 0.56);
}

.inner {
  box-shadow:
    inset 4px 4px 6px 1px rgba(218, 216, 216, 0.39),
    inset -4px -4px 6px -1px rgba(246, 241, 241, 0.313),
    -0.5px -0.5px 0 rgba(183, 181, 181, 0.812),
    0.5px 0.5px 0 rgba(238, 235, 235, 0.719),
    0 12px 10px -10px rgba(0, 0, 0, 0.05);
}
